{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/gallery/schoolslogo.jpg' %}" alt="School Logo" style="width:30px;height:30px;border-radius:50%;object-fit:cover;margin-right:0.5em;border:2px solid #eaf6fb;">
        {{ site_header|default:_('Django administration') }}
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %} 